/vendor
/node_modules
/public/storage
/public/education
/storage
Homestead.json
Homestead.yaml
.env
.phpunit.result.cache
composer.phar
/Thumbs.db
/desktop.ini
.phpstorm.meta.php
.idea
*.iml
*.log
*.vscode
